body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.pagehead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headtextmono {
    text-align: center;
}

.headtext {
    font-style: italic;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.navlink {
    padding-left: 12px;
    padding-right: 12px;
    color: #458588;
    text-decoration: none;
}

.mainSection {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 16px;
}

.conlink {
    display: flex;
    flex-direction: column;
}

.contitle {
    padding-left: 12px;
    padding-right: 12px;
    color: #076678;
    text-decoration: none;
}

.conblurb {
    font-style: italic;
}

.extlink {
    color: #076678;
    text-decoration: none;
}

.blogPreview {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 16px;
}

.blogpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picCap {
    text-align: center;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
}
