body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: "Lucida Console", "Courier New", monospace;
}

.pagehead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#themeButton {
    background-color: #83a598;
    color: #282828;
    border: 1px solid #83a598;
    border-radius: 8px;
}

.headtextmono {
    text-align: center;
}

.headtext {
    font-style: italic;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.navlink {
    padding-left: 12px;
    padding-right: 12px;
    color: #458588;
    text-decoration: none;
}

.mainSection {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 16px;
}

.mainSection p {
    text-indent: 24px;
}

.mainSection h1 {
    text-align: center;
}

#blogButtons {
    text-align: center;
}

.blogTagInactive {
    width: 84px;
    background-color: #83a598;
    color: #282828;
    border: 1px solid #83a598;
    border-radius: 8px;
    margin: 2px;
}

.blogTagActive {
    width: 84px;
    background-color: #458588;
    color: #282828;
    border: 1px solid #83a598;
    border-radius: 8px;
    margin: 2px;
}

.blogTagHidden {
    display: none;
}

.conlink {
    display: flex;
    flex-direction: column;
    border: 1px solid #83a598;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}

.contitle {
    padding-left: 12px;
    padding-right: 12px;
    color: #076678;
    text-decoration: none;
}

.conblurb {
    font-style: italic;
    padding-left: 12px;
    padding-right: 12px;
}

.extlink {
    color: #076678;
    text-decoration: none;
}

.blogPreview {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 16px;
}

.blogpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.extlink {
    color: #076678;
    text-decoration: none;
}

.picCap {
    text-align: center;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
    font-size: 0.8em;
}
